<h2>Velkommen til Messycamp</h2>
<p>Her på siden kan du læse mere om hvad Messycamp er</p>
<p>Messycamp foregår fra d. Søndag d. 1. Juli til Fredag d. 6. Juli 2012</p>
<p>Messycamp er den tidligere familiecamping 1 som er genskabt med et nyt koncept.</p>
<p>Vi holder bibeltimer efter et <a href="http://www.messychurch.dk" target="_blank">messychurch</a> ligende koncept, hvor alle aldersgrupper er sammen. Læs mere under <a href="/hvad/">Hvad</a></p>
<p><a href="/assets/MessyCamp2012.pdf" target="_blank">Se program her</a></p>

<div>&nbsp;</div>
<!--<div id="countdown"></div>
<script src="assets/javascript/home.js"></script>-->

