<h2>Velkommen til Messycamp</h2>
<p>Her på siden kan du læse mere om hvad Messycamp er</p>
<p>Messycamp foreik fra d. Søndag d. 1. Juli til Fredag d. 6. Juli 2012</p>
<p>Messycamp er den tidligere familiecamping 1 som er genskabt med et nyt koncept.</p>
<p>Vi holder bibeltimer efter et <a href="http://www.messychurch.dk" target="_blank">messychurch</a> ligende koncept, hvor alle aldersgrupper er sammen. Læs mere under <a href="/hvad/">Hvad</a></p>
<p><a href="/assets/MessyCamp2012.pdf" target="_blank">Se program her</a></p>
<p>
<h2 id="countdown-title">Messycamp er overstået</h2>
Her er nogle <a href="http://www.facebook.com/media/set/?set=a.256496841132667.55758.239147182867633&type=1" target="_blank">billeder fra lejren</a>
</br>
</br>
<a href="http://www.youtube.com/watch?v=_-sQcI1TJBQ" target="_blank">Messycamp sangen kan du se på youtube</a>
</p>

  


