<h2>Velkommen til Messycamp</h2>
<p>Her på siden kan du læse mere om hvad Messycamp er</p>
<p>Messycamp forgår i uge 27 2013. <br/>på Gammelbro Camping</p>
<p>Vi holder bibeltimer efter et <a href="http://www.messychurch.dk" target="_blank">messychurch</a> ligende koncept, hvor alle aldersgrupper er sammen. Læs mere under <a href="/hvad/">Hvad</a></p>
<p>
Her er nogle <a href="http://www.facebook.com/media/set/?set=a.256496841132667.55758.239147182867633&type=1" target="_blank">billeder fra sidste år</a>
</br>
</br>
<a href="http://www.youtube.com/watch?v=_-sQcI1TJBQ" target="_blank">Messycamp sangen kan du se på youtube</a>
</p>

  


