<h2>Velkommen til Messycamp</h2>
<p>Her på siden kan du læse mere om hvad Messycamp er</p>
<p>Messycamp foregår fra d. Søndag d.1 Juli til Fredag d. 6. Juli 2012</p>

<div>&nbsp;</div>
<!--<div id="countdown"></div>
<script src="assets/javascript/home.js"></script>-->

