<h2>Hvad er Messycamp?</h2>
<p>Messycamp er den tidligere familiecamping 1 som er genskabt med et nyt koncept.</p>
<p><a href="/assets/MessyCamp2012.pdf" target="_blank">Se program her</a></p>
<p>Vi holder bibeltimer efter et <a href="http://www.messychurch.dk" target="_blank">messychurch</a> ligende koncept, hvor alle aldersgrupper er sammen</p>
<p>Udover bibeltimer holder vi også familiemøder to eftermiddage, desuden er der et par aftener møder for de voksne. Samt en lovsangsaften.</p>
<p>Messychurch konceptet går ud på at man mødes om et emne, men i stedet for at høre en tale, starter man med at spise sammen, derefter går man i workshops, hvor man arbejder med noget som er forbundet med emnet. F.eks. kan det være man laver et trækors, eller man går i skoven og tager billeder. Eller man laver en powerpoint, der præsenterer emnet. Kun fantasien sætter grænser</p>
<p>Vi starter altså med at spise et enkelt rundstykke sammen...</p>
<p>Eftermiddagsmøderne vil være mere traditionelle (ikke kedelige) møder</p>
<p>Aftenmøderne for de voksne bliver også med workshops omkring et emne, hvor der er mulighed for at udveskle erfaringer bl.a. om det at tale med sine børn om det at tro på Gud</p>
