<h2>Hvor foregår Messycamp?</h2>
<p>Messycamp foregår på <a href="http://www.gammelbro.dk" target="_blank">Gammelbro Camping</a>
<br/>Gammelbrovej 70, Årøsund 
<br/>DK- 6100 Haderslev
</p>
<p>Du skal ikke tilmelde dig til messycamp, men blot leje dig ind på Gammelbro Camping, som både har pladser til campingvogne og hytter</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.dk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Gammelbrovej+70,+Haderslev&amp;aq=0&amp;oq=gammel&amp;sll=56.257789,9.879185&amp;sspn=2.258034,3.751831&amp;ie=UTF8&amp;hq=&amp;hnear=Gammelbrovej+70,+6100+Haderslev&amp;t=m&amp;z=14&amp;ll=55.249421,9.711996&amp;output=embed"></iframe><br /><small><a href="https://maps.google.dk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Gammelbrovej+70,+Haderslev&amp;aq=0&amp;oq=gammel&amp;sll=56.257789,9.879185&amp;sspn=2.258034,3.751831&amp;ie=UTF8&amp;hq=&amp;hnear=Gammelbrovej+70,+6100+Haderslev&amp;t=m&amp;z=14&amp;ll=55.249421,9.711996" style="color:#0000FF;text-align:left">View Larger Map</a></small>
