<h2>Hvor foregår Messycamp?</h2>
<p>Messycamp foregår på <a href="http://www.morkholt.dk" target="_blank">Mørkholt strand camping</a>
<br/>Hagensvej 105B
<br/>Børkop
</p>
<p>Du skal ikke tilmelde dig til messycamp, men blot leje dig indpå Mørkholt strand camping, som både har pladser til campingvogne og hytter</p>
<p><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=da&amp;geocode=&amp;q=Hagenvej+105+b,+7080+B%C3%B8rkop,+Danmark&amp;aq=&amp;sll=55.651411,9.722182&amp;sspn=0.009322,0.033023&amp;vpsrc=6&amp;g=Hagenvej+105+b,+7080+B%C3%B8rkop,+Danmark&amp;ie=UTF8&amp;hq=&amp;hnear=Hagenvej+105,+7080+B%C3%B8rkop,+Danmark&amp;t=m&amp;z=14&amp;ll=55.651411,9.722182&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=da&amp;geocode=&amp;q=Hagenvej+105+b,+7080+B%C3%B8rkop,+Danmark&amp;aq=&amp;sll=55.651411,9.722182&amp;sspn=0.009322,0.033023&amp;vpsrc=6&amp;g=Hagenvej+105+b,+7080+B%C3%B8rkop,+Danmark&amp;ie=UTF8&amp;hq=&amp;hnear=Hagenvej+105,+7080+B%C3%B8rkop,+Danmark&amp;t=m&amp;z=14&amp;ll=55.651411,9.722182" style="color:#0000FF;text-align:left">Vis stort kort</a></small></p>
