<h2>Hvem arrangerer Messycamp?</h2>
<p>Messycamp arrangeres af Indre mission i samarbejde med Danmarks folkekirkelige søndagsskoler</p>
<p>Lejrchef er børnekonsulent Torben Hebsgaard, Ødum</p>
<p>Andre ledere: 
<ul>
<li>Børnekonsulent Janne Lillelund, Vejle</li>
<li>Bodil og Søren Kappelgaard</li>
<li>Kirsten og John Specht</li>
<li>Helle og Klaus Hebsgaard</li>
<li>Et væld af ungledere (eller i hvertfald et par stykker)</li>
</ul>
</p>
