<h2>Hvem arrangerer Messycamp?</h2>
<p>Messycamp arrangeres af Indre mission i samarbejde med Danmarks folkekirkelige søndagsskoler</p>
<p>Lejrchef er børnekonsulent Torben Hebsgaard, Ødum</p>
<p>Andre ledere: 
<br/>Børnekonsulent Janne Lillelund, Vejle
<br/>Bodil og Søren Kappelgaard
<br/>Kirsten og John Specht
<br/>Helle og Klaus Hebsgaard
<br/>Et væld af ungledere (eller i hvertfald et par stykker)
</p>
