<h2>Hvem arrangerer Messycamp?</h2>
<p>Messycamp arrangeres af Indre mission i samarbejde med Danmarks folkekirkelige søndagsskoler</p>
<p>Lejrchef er børnekonsulent Torben Hebsgaard</p>
<p>Andre ledere: 
<br/>Børnekonsulent Janne Lillelund
<br/>Kappelgaards
<br/>Specht
<br/>Hebsgaard
<br/>Et væld af ungledere
</p>
