<h2>Hvem arrangerer Messycamp?</h2>
<p>Messycamp arrangeres af en gruppe erfarne ledere, med mere end 10 års erfaing i familiecamping. Med ståsted i folkekirken og Indre Mission</p>
<p>Lejrchef er børnekonsulent <a href="http://www.boernekonsulent.dk/" target="_blank">Torben Hebsgaard</a>, Ødum</p>
<p>Andre ledere:
<ul>
<li>Bodil og Søren Kappelgaard</li>
<li>Margit og Gerner Majlandt</li>
<li>Helle og Klaus Hebsgaard (webmaster)</li>
</ul>
</p>
