/* Grapes, web template for business or for fun */
/* By Dave Reeder, www.davereederdesign.com */

body {
margin: 0; 
padding: 0; 
background:url("/assets/background.jpg")  center top;
}

* {margin: 0; padding: 0; border: 0; font-family:  Arial, Helvetica, sans-serif}


/*----------------------------------------------Basic styles------------------------------------------------*/

h1, h2, h3, h4 {font-family: Georgia, Georgia, serif; margin: 15px 0 0 5px; color: #fff; font-weight: normal; text-decoration: none}
h1 em, h2 em, h3 em, h4 em {font-family: Georgia, Georgia, serif; font-weight: normal}  /* italic words in titles */

h1 {position: absolute; right: 0px; top: 30px; font-size: 2.25em; letter-spacing: 0.1em; line-height: 1.00em; padding-right: 10px; 
border-right: 15px solid #e0125f;
color:  #e0125f;
}
h1:first-letter {font-family: Georgia, Georgia, serif; font-size: 2.25em} /* styles the first letter of the main title to make it large */
p#tagline {position: absolute; right: 0px; top: 125px; font-style: italic; color: #8aa14b; font-size: 0.90em}  /* sits under main title */

h2 {
font-size: 1.30em; 
letter-spacing: 0.05em;
color:  #e0125f;

}

p, ul, ol {margin: 10px 10px 0 7px; font-size: 0.70em; line-height: 1.60em; color: #000; letter-spacing: 0.05em}

code {font-family: monospace; font-size: 1.20em; color: #E20000}

p span {font-size: 2.50em; font-weight: bold} /* shouting words */

a:link, a:visited {color: #792533; font-weight: bold; text-decoration: none; border-bottom: 1px solid #792533}
a:hover, a:active {color: #fff; border-color: #fff}

ul {list-style: inside square} /* general lists */



/*-----------------------------------------------Layout DIVS------------------------------------------------*/

#container {  /* keeps everything together */
position: relative; 
margin: 0 auto; 
width: 820px;
background: 0 0 repeat-y #d2dc81; /* Important image, do not remove */
overflow: hidden
}

#hdr {  /* div containing h1, nav and grapes image */
float: left; 
width: 820px; 
height: 200px; 
background: url(images/logo.png)  0 0 no-repeat #d2dc81  /* Image of Grapes */
}

#lftcol {   /* left column */
position: absolute;
left: 0px;
top: 200px;
     margin-left: 50px;  /* leave this so that background image lines up with edge of this div */
width: 200px; 
background: transparent;
overflow: hidden;
font-size: 1.20em;
}

#rgtcol {
float: right; 
width: 570px; 
padding-bottom: 30px; 
background: transparent; 
overflow: hidden;
font-size: 1.40em;
}  /* right column */

#bttmbar {float: right; text-align: center; font-size: 0.70em; height: 130 px; line-height: 4em; width: 570px; background: #d2dc81;}


/*---------------------------------------------Main Navigation-----------------------------------------------*/

ul#nav {   /* navigation list */
margin: 53px 0 20px 0; /* the 53px is where the nav begins (margin top) */
padding: 0;
         list-style: none inside
}

ul#nav li {float: left;	display: block}

ul#nav li a {
width: 170px;
margin: 3px 0 0 0;  /* a little top margin */
border: 0;
        border-left: 10px solid #d2dc81;
padding: 10px 5px;
         font-family: Georgia, Georgia, serif;
         font-weight: normal;
         text-decoration: none;
display: block;
color: #450F1F;
background: #d2dc81}

ul#nav li a#current {border-color: #fff}   /* current page, move id in the xhtml when creating a new page */

ul#nav li a:hover {background: #d2dc81; color: #fff}




