
#countdown .dash {
  padding-top: 90 px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: none;
  float: left;
  width: 150px;
  margin: 0;
  font-size: 13px;
  color: #e0125f;
  text-align: center;
  }
#countdown .digits {
  margin-bottom: 10px;
  font-size: 52px;
  font-weight: 600;
  color: #000;
  text-transform: none;
  }

