<!DOCTYPE html>
<html>
<head>
<title>Messycamp</title>
<meta name="google-site-verification" content="FCabw8_ZMYZSojlmLyh2jsUb9EA0FhbMw9XVGCcpM4s" />
<link href="/assets/home.css" media="screen" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<meta name="author" content="Klaus Hebsgaard" />
<meta name="Copyright" content="Copyright (c) khebbie 2012" />

</head>
<body>
<div id="container">

<div id="hdr">
<a href = "/"><h1>Messycamp</h1></a>
<p id="tagline">En familiecamping fyldt med plads til alle</p>
</div>

<div id="lftcol">
<ul id="nav">
<li><a href="/">Hjem</a></li>
<li><a href="/hvad/">Hvad</a></li>
<li><a href="/hvem/">Hvem</a></li>
<li><a href="/hvor/">Hvor</a></li>

</ul>

</div>

<div id="rgtcol">
<%= yield %>
</div>

<div id="bttmbar"><img src = "/assets/btm-bck.jpg"/>
<br/>Copyright &copy; <a href="http://khebbiesblog.heroku.com/">khebbie 2012</a>
</div>
</div>
</body>
</html>
